<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fluentbuild.apollo.testsample">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="com.fluentbuild.apollo.CLIENT_RUNNER"
        android:label="Allows client apps to be automated" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCMY9aBJVUdTipJ8QKKbgwfiUkaFZcMAy4"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ShowTextActivity" />

        <service
            android:name="com.fluentbuild.apollo.runner.client.RetainerService"
            android:exported="true"
            android:permission="com.fluentbuild.apollo.CLIENT_RUNNER"
            android:label="Maintains a connection to runtime"/>
    </application>

</manifest>